@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/***Reset****/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

a,
a:visited,
a:hover {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}

/*--------------------*/

.wrapper {
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.2;
    color: #383838;
    padding: 100px 0;
}

.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.section__title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 32px;
}

.section__subtitle {
    font-size: 14px;
    font-weight: 600;
    margin: 45px 0 22px 0;
}

.flex-align {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

section {
    margin-bottom: 84px;
}

.header {
    margin-bottom: 52px;
}

.header__title {
    font-size: 60px;
    color: #222222;
    margin-bottom: 15px;
}

.header__text {
    font-size: 22px;
}

/****TOGGLE SWITCH*******/
.item__switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 22px;

}

.item__switch .switch__input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch__slider {
    position: absolute;
    cursor: pointer;
    border-radius: 25px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #E4E4E4;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}

.switch__slider:before {
    position: absolute;
    content: "";
    height: 19px;
    width: 19px;
    left: 1.5px;
    bottom: 1.5px;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}

.switch__input:checked+.switch__slider {
    background-color: #3861FB;
}

.switch__input:checked+.switch__slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
}

/****TOGGLE SWITCH END*******/

.item {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1.2fr 50px auto 50px 1fr;
    grid-template-columns: 1.2fr auto 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 6px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 15px;
}
.item__title {
    font-size: 16px;
}
.item__note {
    font-size: 14px;
}

.info__icon {
    width: 16px;
    height: 16px;
    background-image: url('../images/info.svg');
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    background-color: #EBEBEB;
    position: relative;
    cursor: pointer;
}

.item__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 5px;
}

.info__icon .info__text {
    width: 204px;
    color: #E4E4E4;
    font-size: 14px;
    padding: 10px 16px;
    position: absolute;
    top: 50%;
    left: 22px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: #222222;
    border-radius: 4px;
    -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16);
    display: none;
    z-index: 999;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s
}

.info__text::before {
    content: '';
    border: 6px solid transparent;
    border-color: transparent #222222 transparent transparent;
    position: absolute;
    left: -12px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.info__icon:hover .info__text,
.info__icon:active .info__text,
.info__icon:focus .info__text
 {
    display: block;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s
}

.item__select {
    width: 225px;
}


.item__summary {
    padding: 10px 16px;
    background-color: #fff;
    color: #858585;
    font-size: 14px;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    position: relative;
    cursor: pointer;
}

.item__summary::after {
    content: url('../images/arrow.svg');
    position: absolute;
    top: 50%;
    right: 16px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.item__select.active .item__summary::after {
    -webkit-transform: translateY(-50%) rotate(180deg);
    -ms-transform: translateY(-50%) rotate(180deg);
    transform: translateY(-50%) rotate(180deg);
}

.item__block {
    position: relative;
}

.item__select .item__options {
    width: 225px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 4px;
    -webkit-box-shadow: 0 3px 20px rgba(0, 0, 0, 0.09);
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.09);
    height: 0;
    overflow: hidden;
    margin: 0 0 0 0;
    z-index: 999;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.item__select.active .item__options {
    height: auto;
    margin: 10px 0 10px 0;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.item__option {
    color: #858585;
    background-color: #fff;
    font-size: 14px;
    padding: 10px 16px;
    cursor: pointer;
}

.item__option:hover,
.item__option.selected {
    background-color: #EBEBEB;
}


.service {
    margin: 6px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.service__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 10px;
}

.service__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 5px;
    position: relative;
    width: auto;
    font-size: 12px;
    color: #707070;
    background-color: #EBEBEB;
    border-radius: 4px;
    padding: 5px 15px 5px 15px;
}

.service__delete {
    cursor: pointer;
}

.service__details {
    color: #3861FB;
    font-size: 14px;
    cursor: pointer;
}

.service__details:hover {
    font-weight: 600;
}

.section__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.section__button {
    width: 213px;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 5px;
    background: #F0F6FF;
    color: #3861FB;
    border-radius: 4px;
    cursor: pointer;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.section__button:hover {
    -webkit-box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 20%);
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 20%);
}

.section__button-blue {
    background: #3861FB;
    color: #fff;
}

.section__button-blue:hover {
    -webkit-box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 35%);
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 35%);
}

/****POP UP*****/
.popUp {
    opacity: 0;
    pointer-events: none;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.popUp.active {
    opacity: 1;
    pointer-events: all;
}

.popUp__block {
    width: 100%;
    max-width: 360px;
    background-color: #fff;
    border-radius: 20px;
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    margin: 10px;
    padding: 40px;
    position: relative;
}

.popUp__bg {
    width: 100%;
    top: 0;
    position: fixed;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 99;
}

.popUp__close {
    color: #4E4E4E;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
}

.popUp__title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 40px;
}

.popUp__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 15px;
}

.popUp-btn {
    width: 150px;
}

.popUp__icon {
    width: 40px;
    margin: 0 auto;
}

/****POP UP END*****/

@media screen and (max-width: 1020px) {
    .wrapper {
        padding: 50px 0;
    }

    .header__title {
        font-size: 42px;
    }

    .header__text {
        font-size: 20px;
    }

    .container {
        padding: 0 20px;
    }
}

@media screen and (max-width: 767px) {
    .wrapper {
        padding: 30px 0;
    }

    .header__title {
        font-size: 36px;
    }

    .header__text {
        font-size: 16px;
    }

    .item {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 20px auto;
        grid-template-columns: 1fr auto;
        grid-column-gap: 20px;
    }

    .info__text {
        width: 204px;
        color: #E4E4E4;
        font-size: 14px;
        padding: 10px 16px;
        position: absolute;
        top: -400% !important;
        left: 50% !important;
        -webkit-transform: translateX(-50%) !important;
        -ms-transform: translateX(-50%) !important;
        transform: translateX(-50%) !important;
        background-color: #222222;
        border-radius: 4px;
        -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16);
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16);
        display: none;
    }

    .info__text::before {
        border-color: #222222 transparent transparent transparent;
        left: 50%;
        top: unset;
        bottom: -12px;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    .service {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .section__buttons {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}

